# default owners
*                       @hoffstadt

# directories
/thirdparty/            @hoffstadt
/scripts/               @hoffstadt
/src/                   @hoffstadt @Pcothren
/docs/*                 @hoffstadt @Pcothren

# specific files
/src/distribution.cmake @hoffstadt
/src/embedded.cmake     @hoffstadt
/src/CMakeLists.txt     @hoffstadt
/src/.gitignore         @hoffstadt
CMakeLists.txt          @hoffstadt
CMakeSettings.json      @hoffstadt
setup.py                @hoffstadt
.gitattributes          @hoffstadt
.gitignore              @hoffstadt
.gitmodules             @hoffstadt
.readthedocs.yaml       @hoffstadt @Pcothren

# no owners
README.md
/docs/source/
/assets
