[submodule "Dependencies/imgui"]
	path = Dependencies/imgui
	url = https://github.com/ocornut/imgui
	branch = master
[submodule "Dependencies/cpython"]
	path = Dependencies/cpython
	url = https://github.com/python/cpython
	branch = master
[submodule "Dependencies/MarvelGraph"]
	path = Dependencies/MarvelGraph
	url = https://github.com/RaylockLLC/MarvelGraph
	branch = master
