[submodule "Dependencies/imgui"]
	path = Dependencies/imgui
	url = https://github.com/ocornut/imgui
	branch = master
[submodule "Dependencies/cpython"]
	path = Dependencies/cpython
	url = https://github.com/python/cpython
	branch = master
[submodule "Dependencies/glfw"]
	path = Dependencies/glfw
	url = https://github.com/glfw/glfw
	branch = master
[submodule "Dependencies/ImGuiFileDialog"]
	path = Dependencies/ImGuiFileDialog
	url = https://github.com/aiekick/ImGuiFileDialog
	branch = master
[submodule "Dependencies/imnodes"]
	path = Dependencies/imnodes
	url = https://github.com/Nelarius/imnodes
