[submodule "thirdparty/imgui"]
	path = thirdparty/imgui
	url = https://github.com/ocornut/imgui
	branch = master
[submodule "thirdparty/implot"]
	path = thirdparty/implot
	url = https://github.com/epezent/implot
	branch = master
[submodule "thirdparty/cpython"]
	path = thirdparty/cpython
	url = https://github.com/python/cpython
	branch = master
[submodule "thirdparty/glfw"]
	path = thirdparty/glfw
	url = https://github.com/glfw/glfw
	branch = master
[submodule "thirdparty/freetype"]
	path = thirdparty/freetype
	url = https://gitlab.freedesktop.org/freetype/freetype
[submodule "thirdparty/DearPyGui_Ext"]
	path = thirdparty/DearPyGui_Ext
	url = https://github.com/hoffstadt/DearPyGui_Ext
