name: Embedded Build

on:

  schedule:
    - cron: '0 1 * * 1'

  push:

    branches:
      - master
      - development
      - development_*

    paths-ignore:
      - 'docs/**'
      - 'assets/**'
      - 'scripts/**'

  pull_request:

  workflow_dispatch:
    
jobs:

  build-windows:
    
    runs-on: windows-2019
    if: ${{! contains(github.event.head_commit.message, '[individual]') || contains(github.event.head_commit.message, '[windows]')}}

    steps:

    - name: Checkout
      uses: actions/checkout@v3

    - name: Retrieve submodules
      shell: cmd
      run: git submodule update --init --recursive
      
    - name: Build Python
      shell: cmd
      run: |
        cd %GITHUB_WORKSPACE%
        cd scripts
        call BuildPythonForWindows.bat --ci
        
    - name: Build DearPyGui
      shell: cmd
      run: |
        cd %GITHUB_WORKSPACE%
        mkdir cmake-build-release
        cd cmake-build-release
        cmake .. -DMV_TESTS_ONLY=True
        cd ..
        cmake --build cmake-build-release --config Release

# temporarily removed until github runners are fixed (freetype is causing issues)
#    - name: Run Tests
#      shell: cmd
#      run: |
#        cd %GITHUB_WORKSPACE%
#        cd cmake-build-release\DearSandbox
#        DearSandbox.exe

  build-MacOS:
    
    runs-on: MacOS-latest
    if: ${{! contains(github.event.head_commit.message, '[individual]') || contains(github.event.head_commit.message, '[apple]')}}

    steps:

    - name: Checkout
      uses: actions/checkout@v3

    - name: Retrieve submodules
      run: git submodule update --init --recursive
    
    - name: Build Python
      run: |
        cd $GITHUB_WORKSPACE
        cd thirdparty/cpython
        mkdir -p build/debug
        chmod +x configure
        cd build/debug
        ../../configure --with-pydebug --enable-shared --prefix=$(pwd) LDFLAGS=-Wl,-rpath,$(pwd)
        make
        make install

    - name: Build DearPyGui
      run: |
        cd $GITHUB_WORKSPACE
        mkdir cmake-build-debug
        cd cmake-build-debug
        cmake .. -DMV_TESTS_ONLY=True
        cd ..
        cmake --build cmake-build-debug --config Debug

  build-Ubuntu:
    
    runs-on: ubuntu-20.04
    env:
      CXX: g++-9
    if: ${{! contains(github.event.head_commit.message, '[individual]') || contains(github.event.head_commit.message, '[linux]')}}

    steps:

    - name: Checkout
      uses: actions/checkout@v3

    - name: Retrieve submodules
      run: git submodule update --init --recursive

    - name: Install Dependencies
      run: |
        cd $GITHUB_WORKSPACE
        sudo apt-get update 
        sudo apt-get install libgl1-mesa-dev xorg-dev
    
    - name: Build Python
      run: |
        cd $GITHUB_WORKSPACE
        cd thirdparty/cpython
        mkdir -p build/debug
        chmod +x configure
        cd build/debug
        ../../configure --with-pydebug --enable-shared
        make

    - name: Build DearPyGui
      run: |
        cd $GITHUB_WORKSPACE
        mkdir cmake-build-debug
        cd cmake-build-debug
        cmake .. -DMV_TESTS_ONLY=True
        cd ..
        cmake --build cmake-build-debug --config Debug
